@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: #000000;
  }

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}


main {
  border-radius: 1rem;
  font-size: 1rem;
  color: #25deff;
}

#title {
  color: #a11fdd;
}

.container {
  width: 1100px;
  height: 600px;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.tick {
  font-size: 12px;
}

.bar {
  fill: #883edd;
}

.bar:is(:hover, :focus) {
  opacity: 50%;
}

#tooltip {
  border-radius: 15px;
}